<header>
		
	<nav>
		<div class="row">
			<ul class='main-nav'>
				<li>
					<% if (user) { %>
						<a ui-sref="account({userId: user._id})"><%= user.username %></a>
					<% } else { %>
						<a ui-sref="signup">signup</a>
					<% } %>
				</li>
				<li>
					<% if (user) { %>
						<a href="/logout">logout</a>
					<% } else { %>
						<a ui-sref="login">login</a>
					<% } %>
				</li>
			</ul>
		</div>
	</nav>

	<div class='hero-content'>
		<h1>Can't think of an idea for a project? <br> <a ui-sref="projects" class="btn">Browse</a> through the ultimate project catalog now!</h1>
	</div>
	
</header>